---
interface Props {
  id?: string;
  variant?: "default" | "compact";
}

const {
  id: idName = '',
  variant = 'default',
}: Props = Astro.props;

const validVariants = {
  default: "px-6",
  compact: "px-4",
};

const paddingClass = validVariants[variant] ?? validVariants.default;

---

<div    
  id={idName || undefined}
  class={`max-w-7xl mx-auto ${paddingClass}`}
>
  <slot />
</div>

