---
const {
  idLink = "",
  classLink = "",
  hrefLink = "#",
  brandSrc = "",
  brandAlt = "",
  classImage = "",
} = Astro.props;
---

<a id={idLink || undefined} class={classLink || undefined} href={hrefLink}>
  <figure>
    <img src={brandSrc} alt={brandAlt} class={classImage || undefined} />
  </figure>
</a>
